src/.vs/config
/
src/packages/
src/MessageBoard/obj/
src/MessageBoardController/obj/
src/MessageBoardDTO/obj/
src/MessageBoardDB/obj/Debug/Model.xml
src/MessageBoardDB/obj/Debug/
src/.vs/MessageBoardService/v14/
src/MessageBoardEF/obj/
src/MessageBoardEF/bin/
src/MessageBoardService/bin/
src/MessageBoardService/obj/
src/MessageBoardDB/bin/Debug/
src/MessageBoardDB/MessageBoardDB.dbmdl
src/MessageBoardDB/MessageBoardDB.jfm
src/MessageBoardEF/obj/Debug/
src/MessageBoardService/bin/AutoMapper.dll
src/MessageBoardService/bin/AutoMapper.xml
src/MessageBoardService/bin/MessageBoardService.dll.config

