src/.vs/config
/
src/packages/
src/MessageBoard/obj/
src/MessageBoardController/obj/
src/MessageBoardDTO/obj/
src/MessageBoardDB/obj/Debug/Model.xml
src/MessageBoardDB/obj/Debug/
src/.vs/MessageBoardService/v14/
src/MessageBoardEF/obj/
src/MessageBoardEF/bin/
src/MessageBoardService/bin/
src/MessageBoardService/obj/
src/MessageBoardDB/bin/Debug/
